<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1><%= title %> </h1>
    <section>
        <h2>Crar notebook</h2>
        <form action="/booknote/createbooknote" method="post">
            <div>
                <label for="user">Ingrese usuario</label>
                <input type="text" name="user" id="user">
            </div>
            <div>
                <label for="name">Ingrese el nombre del book note</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <button type="submit">Crear</button>
            </div>
        </form>   
    </section>
    <br>
    <section>
        <h1>Crear nota</h1>
        <form action="/booknote/createnote" method="post">
            <div>
                <label for="title">Ingrese un titulo</label>
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="body">Ingrese el contendio de la nota</label>
                <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button type="submit">cargar</button>
            </div>

        </form>
    </section>
    <br>
    <section>
        <h2>Destruccion de notas</h2>
        <form action="/booknote/destroynote" method="post">
            <div>
                <label for="idnote">Ingrese el id de la nota</label>
                <input type="text" name="idnote" id="idnote">
            </div>
            <div>
                <button type="submit">Borrar</button>
            </div>
        </form>
    </section>
    <section>
        <h2>Destuccion de notebook</h2>
        <form action="/booknote/destroybooknote" method="post">
            <div>
                <label for="idnotebook">Ingrese el id del Book note  a destruir</label>
                <input type="text" name="idnotebook" id="idnotebook">
            </div>
            <div>
                <button type="submit">Destroy</button>
            </div>
        </form>
    </section>
</body>
</html>